                <section class="comment_form">
                      <%= form_for(Comment.new, html: { multipart: true }) do |f| %>
                        <%= render 'shared/error_messages', object: f.object %>
                        <div class="field">
                          <%= f.text_field :content, placeholder: "Comment..." %>
                          <%= f.number_field :user_id, :value => current_user.id, :hidden =>true%>
                          <%= f.number_field :entries_id, :value => entry.id, :hidden =>true %>
                        </div>
                        <%= f.submit "Post", :hidden => true%>
                      <% end %>
                </section>