<% provide(:title, @user.name) %>


<div class="row">
  <aside class="col-md-2">
    <section>
      <h1>
        <%= gravatar_for @user, size: 10 %>
        <%= @user.name %>
      </h1>
    </section>

    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

    <section class="list-entry">
      <%if logged_in? %>
      <%= link_to "Find friends", users_url %><br>
      <%= link_to "Create new entry", new_entry_path %><br>
      <% end %>
      List entries (<%= @user.entries.count %>)

      <% @entries.each do |entry| %>      
        <span class="title">
                  <%= link_to entry.title, entry %>
                  <% if current_user?(entry.user) %>|
                    <%= link_to "Delete", entry, method: :delete,
                                                     data: { confirm: "You sure?" } %>
                  <% end %>
        </span>     
      <% end %>
      <%= will_paginate @entries%>
    </section>

  </aside>


  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.entries.any? %>
      
      <% @entries.each do |entry| %>
        <ol class="entries">
                <%= link_to gravatar_for(entry.user, size: 10), entry.user %>

                <span class="user">
                  <%= link_to entry.user.name, entry.user %>
                </span><br>

                <span class = "title-in-feed">
                  <%= entry.title %><br>
                </span>
                 
                <span class="timestamp">
                  <%= time_ago_in_words(entry.created_at) %> ago.
                  <% if current_user?(entry.user) %>|
                    <%= link_to "Delete", entry, method: :delete,
                                                     data: { confirm: "You sure?" } %>|
                    <%= link_to "Edit", edit_entry_path(entry) %>
                  <% end %>
                </span>
                <span class="content">
                 
                  <%= entry.body %>
                  <%= image_tag entry.picture.url if entry.picture? %>
                </span>
                <br>
             
               <% @comments2 = Comment.where("entries_id = #{entry.id}") %>
               <%if @comments2.length>0 %>
                  <% @comments2.each do |comment| %>
                      <br>
                      <% user = User.find_by(id: comment.user_id) %>
                      <%if !user.nil?%>
                        <span class = "username">                  
                          <%= link_to user.name, entry.user %>:
                        </span>
                      
                      <% end %>
                      <%= comment.content %> <br>
                      <span class="timestamp">
                        <%= time_ago_in_words(comment.created_at) %> ago.
                        <% if !current_user.nil? && comment.user_id == current_user.id%>|
                        <%= link_to "Delete", comment, method: :delete,
                                                           data: { confirm: "You sure?" } %>
                        <% end %>
                      </span>
                  <% end %>
               <% end %>
               <%
                  @userid = current_user.id if logged_in?
                  @entryid = entry.id
               %>
               <%= render 'new_comment' %>              
               <hr class="fancy-line"></hr>
                
        </ol>
    <% end %>
      

      
    <% end %>

  </div>
</div>